<!DOCTYPE html>
<html lang="en">
  <head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="css/style.css" rel="stylesheet">
  </head>
  <body>
    <h1>Posts</h1>
    <hr>
    <ul>
      {{ #posts }}
      <li><a href="{{ formattedTitle }}.html">{{ date }}: {{ title }}</a></li>
      {{ /posts }}
    </ul>
  </body>
</html>
